@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --color-box: #E2E2E2;
    --color-background: #F1F1F1;
    --color-text: #333333;
    --font-1: "Be Vietnam Pro", sans-serif;
    --font-2: "Lora", serif;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}
/* container */
.container{
    width: 1200px;
    margin: 0 auto;
}
@media (max-width: 1230px) {
    .container{
        width: 720px;
    }
}
/* Có thể sử dụng cú pháp này nhưng nhiều trình duyệt cũ chưa hỗ trợ cú pháp mới này */
/* @media (width <= 1230px) {
    .container{
        width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
} */

@media (max-width: 750px){
    .container{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* end-container */

/* box */
.box{
    border-radius: 8px;
    background-color: var(--color-box);
    color: var(--color-text);
    font-family: var(--font-1);
    font-weight: 700;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
/* End-box */

/* box-title */
.box-title{
    background-color: var(--color-box);
    width: 600px;
    height: 80px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-2);
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 40px auto;
}
@media (max-width: 1230px){
    .box-title{
        width: 100%;
        margin-bottom: 30px;
        height: 60px;
    }
}
/* End-box-title */

/* header */
.header{
    padding: 20px 0;
}
.header .inner-wrap{
    display: flex; /*flex cũng hỗ trợ thuộc tính gap*/
    align-items: center;
    justify-content: space-between;
    gap: 0 30px;
}
.header .inner-logo{
    width: 200px;
    height: 60px;
}
.header .inner-menu{
    /* Thực tế menu sẽ không fix cứng cho nên phải sử dụng thuộc tính flex: 1; để menu chiếm hết phần còn lại của khối header */
    /* width: 820px; */
    flex: 1;
    height: 34px;  
}
.header .inner-button{
    width: 120px;
    height: 42px;
}

@media (max-width: 1230px){
    .header{
        padding: 15px 0;
    }
    .header .inner-wrap{
        display: flex; /*flex cũng hỗ trợ thuộc tính gap*/
        align-items: center;
        gap: 0 30px;
    }
    .header .inner-logo{
        width: 130px;
        height: 42px;
    }
    .header .inner-menu{
        flex: 1;
        height: 30px;
    }
    .header .inner-button{
        width: 102px;
        height: 36px;
    }
}

/* khi responsive cho màn hình điện thoại thì khi thẻ cha là display:flex thì nên dùng thuộc tính order để sắp xếp lại các khối code bên trong  */
@media (max-width: 750px){
    .header{
        padding: 15px 0;
    }
    .header .inner-logo{
        width: 130px;
        height: 42px;
        order: 2;
    }
    .header .inner-menu{
        width: 66px;
        height: 36px;
        order: 1;
        flex: none;
        font-size: 16px;
    }
    .header .inner-button{
        width: 102px;
        height: 36px;
        order: 3;
        font-size: 16px;
    }
}
/* End-header */

/* section-1 */
.section-1{
    background-color: var(--color-background);
    padding: 80px 0;
}
.section-1 .inner-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 30px;
}
.section-1 .inner-content, .section-1 .inner-image{
    height: 520px;
}

@media (max-width: 1230px){
    .section-1{
        padding: 45px 0;
    }
    .section-1 .inner-content, .section-1 .inner-image{
        height: 310px;
    }
}
@media (max-width: 750px){
    .section-1{
        padding: 45px 0;
    }
    .section-1 .inner-wrap{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px 0;
    }
}
/* End-section-1 */

/* section-2 */
.section-2{
    padding: 80px 0;
}
.section-2 .inner-wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.section-2 .inner-item{
    height: 420px;
}

@media (max-width: 1230px){
    .section-2{
        padding: 60px 0;
    }
    .section-2 .inner-wrap{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}
@media (max-width: 750px){
    .section-2{
        padding: 45px 0;
    }
    .section-2 .inner-wrap{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}
/* End-section-2 */

/* section-3 */
.section-3{
    background-color: var(--color-background);
    padding: 80px 0;
}
.section-3 .inner-wrap{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0 30px;
}
.section-3 .inner-item{
    height: 300px;
}

@media (max-width: 1230px){
    .section-3{
        padding: 60px 0;
    }
    .section-3 .inner-wrap{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    .section-3 .inner-item{
        height: 300px;
    }
}
@media (max-width: 720px){
    .section-3{
        padding: 45px 0;
    }
    .section-3 .inner-wrap{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .section-3 .inner-item{
        height: 300px;
    }
}
/* End-section-3 */

/* section-4 */
.section-4{
    padding: 80px 0;
}
.section-4 .inner-wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 30px;
}
.section-4 .inner-item{
    height: 300px;
}

@media (max-width: 1230px){
    .section-4{
        padding: 60px 0;
    }
    .section-4 .inner-wrap{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}
@media (max-width: 1230px){
    .section-4{
        padding: 45px 0;
    }
}
/* End-section-4 */

/* footer */
.footer{
    background-color: #D9D9D9;
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    font-family: var(--font-1);
    font-weight: 700;
    font-size: 20px;
}
/* End-footer */
